.root {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    background: var(--white);
}

.root:hover {
    color: var(--hover);
}

.btnArrow {
    background: var(--dark-blue);
    color: var(--white);
}

.root svg {
    width: 100%;
    height: 100%;
}

.btnDark:hover {
    color: var(--hover);
}

@media (hover: none) {
    .root:hover, .btnArrow:hover {
        background: var(--dark-blue);
        color: var(--white);
    }

    .btnDark:hover {
        background: inherit;
        color: inherit;
    }
}



.root:active {
    color: var(--active);
}

.btnLog {
    position: relative;
    text-decoration: none;
    right: -21px;
    top: 20px;
    width: 100px;
    background: var(--dark-blue);
    color: var(--white);
}