* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    font-size: 15px;
    font-weight: 800;

    --primary: #1D252C;
    --primary-text: #FFF;
    --primary-event: #c51adb;
    --secondary: #FFF;
    --secondary-text: #1D252C;
    --active: #777777;
    --block-color: #777777;
}

html, body, #root, .App {
    height: 100vh;
    width: 100vw;
    background-color: var(--primary);
    color: var(--primary-text);
    overflow-x: hidden;
    overflow-y: visible;
}

*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

*::-webkit-scrollbar-track {
    background: var(--secondary);
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--block-color);
    border-radius: 20px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--secondary-text);
    -webkit-box-shadow: 0 0 0px 40rem var(--secondary) inset;
}