* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    font-size: 15px;
    font-weight: 800;

    --primary: #1D252C;
    --primary-text: #FFF;
    --primary-event: #c51adb;
    --secondary: #FFF;
    --secondary-text: #1D252C;
    --active: #777777;
    --block-color: #777777;
    --primary-hover: #bebebe;
    --secondary-hover: #4b4b4b;
    --error: rgb(196, 44, 44);
    --link: #3057dc;
}


html, body, #root, .App {
    background-color: var(--primary);
    color: var(--primary-text);
    min-width: 330px;
    height: 100vh;
}

*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

*::-webkit-scrollbar-track {
    background: var(--secondary);
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--block-color);
    border-radius: 20px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--secondary-text);
    -webkit-box-shadow: 0 0 0px 40rem var(--secondary) inset;
}

input[type="radio"] {
    outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    display: none;
}


input,
textarea,
button,
select,
div, span,
a {
    -webkit-tap-highlight-color: transparent;
}

a {
    color: var(--link);
    text-decoration: none;
}

a:active {
    color: var(--active)
}