* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    font-size: 15px;
    font-weight: 800;

    --dark-blue: #1D252C;
    --white: #FFF;
    --violet: #c51adb;
    --active: #777777;
    --hover: #4f4f4f;
    --block-color: #777777;
    --red: #d70f0c;
    --dark-red: #6a2d2d;
}

html, body, #root, .App {
    background-color: var(--dark-blue);
    color: var(--white);
    min-width: 330px;
    height: 100vh;
}

*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

*::-webkit-scrollbar-track {
    background: var(--white);
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--block-color);
    border-radius: 20px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--dark-blue);
    -webkit-box-shadow: 0 0 0px 40rem var(--white) inset;
}

input[type="radio"] {
    outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    display: none;
}


input,
textarea,
button,
select,
div, span,
a {
    -webkit-tap-highlight-color: transparent;
}

a {
    color: var(--violet);
    text-decoration: none;
}


a:hover {
    color: var(--hover)
}

@media (hover: none) {
    a:hover {
        color: var(--violet);
    }
}

a:active {
    color: var(--active)
}