.root {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.today {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.today:active {
    color: var(--active);
}

.month {
    font-size: 30px;
    text-transform: uppercase;
}

.nav, .currentDay {
    padding: 10px;
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
}