.day {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}


.hasEvent.day::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--violet);
    top: 20%;
    right: 30%;
}

.blockDay {
    color: var(--block-color);
    pointer-events: none;
}

.currentDay {
    font-size: 40px;
}

.currentMonth {
    cursor: pointer;
}

.currentMonth:hover {
    background: var(--white);
    color: var(--dark-blue);
}

.currentMonth:active {
    background: var(--active);
    color: var(--white);
}

.blockDay.weekend {
    color: var(--dark-red);
}

.currentMonth.weekend {
    color: var(--red);
}