.today {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.today:hover {
    color: var(--hover);
}

.today:active {
    color: var(--active);
}

.icon {
    width: 30px;
    height: 30px;
}