.root {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.wrapper {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 5px;
}

input {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    outline: 1px solid var(--block-color);
    color: var(--dark-blue);
    text-align: center;
    width: 100%;
    padding: 10px;
}

label {
    cursor: pointer;
}

input:hover {
    outline: 2px solid var(--dark-blue);
}


input:active, input:focus {
    outline: 3px solid var(--dark-blue);
    color: var(--dark-blue);
}

input.error:hover {
    outline: 2px solid var(--red);
}

input.error:active, input.error:focus {
    outline: 3px solid var(--red);
}

.root:has(.input[type="radio"]) {
    cursor: pointer;
    grid-template-columns: 2fr 0.5fr;
}

.disable {
    color: var(--block-color)
}

.text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.errorText {
    color: var(--red);
    width: 50%;
    font-size: 12px;
    height: 15px;
    min-width: 150px;
}

.error {
    outline: 1px solid var(--red);
}