* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    font-size: 15px;
    font-weight: 800;

    --primary: #1D252C;
    --primary-text: #FFF;
    --primary-event: #c51adb;
    --secondary: #FFF;
    --secondary-text: #1D252C;
    --active: #777777;
    --block-color: #777777;

    overflow-x: hidden;
}

html, body, #root, .App {
    height: 100vh;
    width: 100vw;
    background-color: var(--primary);
    color: var(--primary-text);
}

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

*::-webkit-scrollbar-track {
    background: var(--secondary);
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.603);
    border-radius: 20px;
}