.root {
    cursor: pointer;
    border: none;
    border-radius: 20px;
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 10px;
    width: 100%;
    max-width: 350px;
}

.root:hover {
    background-color: var(--hover);
}

@media (hover: none) {
    .root:hover {
        background-color: var(--dark-blue);
    }
}

.root:active {
    background-color: var(--active);
}