.root {
    cursor: pointer;
    border: none;
    border-radius: 20px;
    background-color: var(--primary);
    color: var(--primary-text);
    padding: 10px;
    width: 100%;
    max-width: 350px;
}

.root:active {
    background-color: var(--active);
}